.card-container {
    width: 825px;
    height: 114px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 2rem;
    background: white;
    color: black;
    box-sizing: border-box;
}

.card-container:hover {
    background-color: lightgray;
    cursor: pointer;
}

.left-container {
    width: 500px;
    float: left;
}

.right-container {
    text-align: right;
    margin-top: 20px;
    width: 300px;
    height: 100px;
    float: right;
}

.card-container .title {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
}

.card-container .company {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: justified;
    padding-top: 2px;
    padding-left: 9px;
}

.tag {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 18px;
    background: rgba(249, 234, 234, 1);
}
