.detalhes-candidato {
    width: 100%;
    height: 100%;
}

.subTitle_situcao_vagas {
    text-align: left;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0em;

    position: absolute;
    width: 30%;
    height: 7.3%;
    left: 4.3%;
    top: 19.3%;

    margin-left: 2%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 7.2%;
    /* identical to box height */

    color: #FFFFFF;
}

.localizacao_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 4.4%;
    top: 29.3%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.localizacao-description_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 4.4%;
    top: 32.8%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #000000;
}

.carga-horaria_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 4.4%;
    top: 38%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.carga-horaria-description_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 4.4%;
    top: 41.4%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #000000;
}

.escolaridade_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 4.4%;
    top: 46.8%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.escolaridade-description_situacao_vagas {
    position: absolute;
    width: 40%;
    height: 2.8%;
    left: 4.4%;
    top: 50.3%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #000000;
}

.site_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 4.4%;
    top: 55.7%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.site-description_situacao_vagas {
    position: absolute;
    width: 20.3%;
    height: 2.8%;
    left: 4.4%;
    top: 58.5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #000000;
}

.descricao_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 6%;
    top: 63.9%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.descricao-description_situacao_vagas {
    position: absolute;
    width: 40%;
    height: 12%;
    left: 6%;
    top: 67.4%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #000000;
}

.valor-bolsa_situacao_vagas {
    position: absolute;
    width: 24.2%;
    height: 4.6%;
    left: 50%;
    top: 22.5%;

    background: #F9EAEA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;
}

.valor-bolsa-description_situacao_vagas {
    position: absolute;
    max-height: 5%;
    left: 50%;
    padding-left: 1%;
    padding-right: 1%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    /* identical to box height, or 200% */

    text-align: center;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);

    background: #F9EAEA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;
}


.requisitos_situacao_vagas {
    position: absolute;
    width: 20%;
    height: 3%;
    top: 30%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.requisitos-description_situacao_vagas {
    position: absolute;
    width: 50%;
    height: 12%;
    left: 50%;
    top: 33.5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    padding-right: 5%;

    color: #000000;
}

.privilegios_situacao_vagas {
    position: absolute;
    width: 19.6%;
    height: 2.8%;
    left: 50%;
    top: 54%;
    padding-top: 2.3%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.privilegios-description_situacao_vagas {
    position: absolute;
    width: 50%;
    height: 12%;
    left: 50%;
    top: 55.5%;
    padding-top: 3.3%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.05em;

    padding-right: 5%;

    color: #000000;
}

.status_situacao_vagas {
    position: absolute;
    width: 21.6%;
    height: 4%;
    left: 73.5%;
    top: 87%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.3em;
    line-height: 10px;

    color: #5E239D;
}

.content-column1_situacao_vagas {
    display: inline-block;
    height: 30em;
    /* background-color: red; */
    width: 50%;
}

.content-column2_situacao_vagas {
    display: inline-block;
    height: 30em;
    /* background-color: red; */
    width: 50%;
}

.content-row1_situacao_vagas {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    flex-wrap: wrap;
}