.MinhasVagas{
    height: 100%;
    width: 100%;
}


.subTitle_minhas_vagas {
    text-align: left;
    padding-right: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0em;
    padding-top: 2rem;

    width: 40%;
    height: 7.3%;
    left: 4.3%;
    top: 19.3%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1em;
    line-height: 7.2%;
    /* identical to box height */

    color: #FFFFFF;
}

.content-column1_minhas_vagas {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}

.content-column2 {
    display: inline-block;
    height: 30em;
    /* background-color: red; */
    width: 50%;
}

.content-row1 {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    flex-wrap: wrap;
}