.Inicio {
    height: 100%;
    width: 100%;
}

.navbar_back{
    background-color: transparent;
    min-width: 768px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.buttonLoggin {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

.title{
    color: white;
    font: 20px;
    padding-top: 10px;
}