.Inicio {
    height: 100%;
    width: 100%;
}

.navbar_back{
    background-color: transparent;
    min-width: 768px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.buttonLoggin {
    display: flex;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    width: 8em;
}

.title{
    color: white;
    font-style: 'Poppins', sans-serif;
    padding-top: 10px;
    font-size: 2em;
    
}

.titleButton{
    color: white;
    font-style: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding-top: 10px;
    
}

.margin{
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.marginTop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes {
    display: flex;

}

.blackTest{
    background-color: black;
}

.whiteTest{
    background-color: white;
}

.blueTest{
    background-color: blue;
}

.imagem{
    height: 500px;
}

.subTitle_inicio{
    text-align: center;
    padding-bottom: 20px;
}

.colorButton{
    display: flex;
    width: 8em;
    height: 3em;
    background-color: #96EED5;
    justify-content: center;
    align-items: center;
}