.CadastroCandidato {
    height: 100%;
    width: 100%;
}

.margin_container{
    margin-left: 2em;
}

.navbar_back{
    background-color: transparent;
    min-width: 768px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.text-box-type-1-user{
    padding: 10px 15px;
    height: 10%;
    width: 95%;
    border: 1px solid #E2E1E5;
    border-radius: 5px;
    margin-bottom: 1em;
}

.content-row{
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
}

.text-box-type-2-user{
    padding: 10px 15px;
    height: 35%;
    width: 95%;
    border: 1px solid #E2E1E5;
    border-radius: 5px;
    margin-bottom: 1em;
}
.container-button{
    padding-top: 4em;
    align-items: flex-end;
}

.container-button-2{
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.vags_btn{
    border-radius: 20%;
    background-color: #22BE92;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.user_btn{
    background-color: #5E239D;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

.title{
    color: white;
    font-style: 'Poppins', sans-serif;
    font: 20px;
    padding-top: 20px;
    
}

.sub_title_user{
    color: white;
    padding-top: 1em;
    padding-bottom: 3em;
    
}

.imagem_usuario{
    height: 28em;
    padding-left: 5em;
}

.text-areas{
    color: #00000099;
    font-style: 'Poppins', sans-serif;
}
