

:root {
  --background: linear-gradient(180deg, #21D19F 0%, rgba(33, 209, 159, 0.62) 100%);;
  --color-dark-green: #22BE92;
  --color-purple: #5E239D;
  --color-white: #FFF;
  --font: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
